/******************* GLOBAL ***********************/

:root {
  --background-color: #e1eff4;
  --h1-color: #475e79;
  --card-color: #fefcf0;
  --h1: "gambado-sans-forte", san-serif;
  --p: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  color: var(--card-color);
  /* position: relative;
  text-align: center; */
}

h1 {
  font-size: 7cqw;
  font-family: var(--h1);
  color: var(--h1-color);
  line-height: 90%;
}

/******************* index ***********************/

.logo {
  width: 5rem;
  border-radius: 45%;
  margin-bottom: 7%;
}

header {
  margin: 3%;
}

.flex_header {
  display: flex;
}

a {
  text-decoration: none;
}

.main_index {
  margin-top: -7%;
}

.figur {
  width: 157%;
  overflow: hidden;
  margin: -8% -16% 0%;
}

.location {
  position: relative;
}

.location_link {
  display: inline-block;
  position: relative;
  margin-top: -5%;
  width: 100%;
}

.location_link h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
}

.overlay {
  background-color: rgba(46, 68, 24, 0.469);
  z-index: 1;
}

@media (min-width: 600px) {
  .main_index {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 3%;
    width: 100%;
    justify-content: space-evenly;
  }

  .location-img {
    width: 100%;
    max-width: 100%;
  }
  .h1 {
    font-size: 6cqw;
  }
  .figur {
    position: relative;
    margin: -9% 0% 4%;
    width: 59%;
  }

  .location_link {
    width: 31vw;
  }
}
