:root {
  --background-color: #e1eff4;
  --h1-color: #475e79;
  --card-color: #fefcf0;
  --h1: "gambado-sans-forte", san-serif;
  --p: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  color: var(--card-color);
  /* position: relative;
  text-align: center; */
}

h1 {
  font-size: 7cqw;
  color: var(--h1-color);
}

.logo {
  width: 5rem;
  border-radius: 45%;
  margin-bottom: 7%;
}

header {
  margin: 3%;
}

.flex_header {
  display: flex;
}

a {
  text-decoration: none;
}

.location {
  position: relative;
}

.location_link {
  display: inline-block;
  position: relative;
  margin-top: -5%;
}

.location_link h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
}

.overlay {
  background-color: rgba(46, 68, 24, 0.469);
  z-index: 1;
}
