/*
font-family: "josefin-sans", sans-serif;
font-weight: 400;
font-style: normal;

font-family: gambado-sans-forte, sans-serif;
font-weight: 700;
font-style: normal;

-------------------------*/

:root {
  --background-color: #e1eff4;
  --h1-color: #475e79;
  --card-color: #fefcf0;
  --h1: "gambado-sans-forte", sans-serif;
  --p: "josefin-sans", sans-serif;
  --knapfarve: #d17b58;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  color: var(--card-color);
  font-family: var(--h1);
}

h1 {
  font-size: 4rem;
  font-family: var(--h1);
  color: var(--h1-color);
  line-height: 90%;
}

p {
  font-family: var(--p);
  font-size: 1.3rem;
  line-height: 2rem;
}

.logo {
  aspect-ratio: 3/2;
  width: 10rem;
  border-radius: 45%;
}

header {
  margin: 2rem;
}
/*OVERSKRIFT OG SVAMP
--------------------*/
.flex_header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
}

.flex_header img {
  grid-column: 2;
}

.flex_header h1 {
  grid-column: 1;
  grid-row: 1;
  margin-left: 20%;
  margin-top: 5%;
}

.flex_header p {
  margin-top: 20%;
  grid-column: 1;
  grid-row: 1;
  margin-left: 20%;
  font-size: 2cqw;
  color: var(--knapfarve);
}

.flex_header p:nth-child(3) {
  margin-top: 30%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
  margin: 2rem 1.7rem;
}

h1 {
  font-size: 7cqw;
}

h2 {
  color: var(--h1-color);
}

footer {
  height: 5rem;
}

/*NAVIGATION
---------------------*/
nav img,
.subnav img {
  aspect-ratio: 2/1;
  border-radius: 60px;
}

nav {
  display: flex;
}

nav a {
  width: 15%;
}

.mainnav {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-left: auto;
}

.subnav {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-left: auto;
}

.subnav a {
  width: 10%;
}

.bordernav {
  border: 3.5px solid #e19245;
}
